
@{
    Layout = "_Layout";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Navigation</title>
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
</head>
<body>
    <div class="container">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Cobblemons" asp-action="Index">
                    <i class="fas fa-plus-square"></i> Create Cobblemon
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="CTypes" asp-action="Index">
                    <i class="fas fa-plus-square"></i> Create Typings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="BaseStats" asp-action="Index">
                    <i class="fas fa-chart-bar"></i> Create Stats
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="LevelUpMoves" asp-action="Index">
                    <i class="fas fa-arrow-up"></i> Create Level Up Moves
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="TMMoves" asp-action="Index">
                    <i class="fas fa-magic"></i> Create TM Moves
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="EggMoves" asp-action="Index">
                    <i class="fas fa-egg"></i> Create Egg Moves
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Locations" asp-action="Index">
                    <i class="fas fa-egg"></i> Create Locations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Items" asp-action="Index">
                    <i class="fas fa-egg"></i> Create Items
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Moves" asp-action="Index">
                    <i class="fas fa-egg"></i> Create General Moves
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Abilities" asp-action="Index">
                    <i class="fas fa-egg"></i> Create Abilities
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Natures" asp-action="Index">
                    <i class="fas fa-egg"></i> Create Natures
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="News1" asp-action="Index">
                    <i class="fas fa-egg"></i> Create News
                </a>
            </li>
        </ul>
    </div>
</body>