<!DOCTYPE html>
<html>
<head>
    <title>Contact Information</title>
</head>
<body>
    <h1>Contact Information</h1>

    <p>Feel free to contact me through the following channels:</p>

    <ul>
        <li>YouTube: <a href="https://www.youtube.com/channel/UCsJfGkk_IxQVHRH2M9E6-OQ" target="_blank">Melasfo</a></li>
        <li>Facebook: <a href="https://www.facebook.com/StefiiHD/" target="_blank">StefiiHD</a></li>
        <li>Discord: Melasfo</li
        <li>Official Cobblemon website: <a href="https://cobblemon.com/en" target="_blank">Cobblemon</a></li>
    </ul>

    <p>If you have any questions or inquiries, please don't hesitate to reach out!</p>
</body>
</html>