@model IEnumerable<ProjectTrial11.Models.News>

@{
    ViewData["Title"] = "News Page";
}

<div class="container">
    <h1>Latest News</h1>
    <hr />
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@item.NewsTitle</h5>
                <p class="card-text">@item.NewsDescription</p>
            </div>
        </div>
    }
</div>